<div class="roof"></div>
<div class="header">Акції на суші</div>
<div class="discounts">
    <div class="discount">
        <img src="../../../assets/imgonline-com-ua-compressed-ryna9n84oqh1-scaled-697x379.jpg" alt="">
        <button type="button" class="text">Рол тижня</button>
        <div class="hr"></div>
        <button type="button" class="button">ДІЗНАТИСЬ БІЛЬШЕ</button>
    </div>
    <div class="discount">
        <img src="../../../assets/imgonline-com-ua-compressed-ajbic74qfau00-scaled-697x379.jpg" alt="">
        <button type="button" class="text">3+1=5</button>
        <div class="hr"></div>
        <button type="button" class="button">ДІЗНАТИСЬ БІЛЬШЕ</button>
    </div>
</div>