.roof{
    width: 110px;
    height: 4px;
    background-color: #b5d8f7;
    margin: auto;
    margin-top: 80px;
}
.header{
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    color: #252525;
    margin-bottom: 30px;
}
.actions{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .box{
        margin: 0 40px;
        width: 550px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image{
        border-radius: 10px;
        width: 550px;
        height: 350px;
        }
        .name{
            text-transform: uppercase;
            color: #252525;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
        }
        .line{
            width: 100%;
            height: 3px;
            background: #b5d8f7;
            margin: 20px 0;
        }
        .seeMore{
            width: 257px;
            height: 45px;
            border: none;
            border-radius: 10px;
            color: #252525;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            font-weight: bold;
            background: #b5d8f7;
        }
    }
}