<div class="home">
    <div class="baner">
        <img src="../../../assets/5-tyj-v-podarunok-.jpg" alt="">
    </div>

    <router-outlet>
<!--        <app-product-category></app-product-category>-->
    </router-outlet>

    <div class="menu">
        <img src="../../../assets/mn-delivery-img.svg" alt="">
        <div class="zona">зони доставки</div>
        <div class="section"></div>
        <img src="../../../assets/mono-supermen.svg" alt="">
        <div class="info">Середній час доставки в зеленій зоні <b>00:43:00</b></div>
        <div class="section"></div>
        <img src="../../../assets/mono-bonus.svg" alt="">
        <div class="info"> Наш графік роботи Працюємо з <b>11:00</b> до <b>23:59</b></div>
    </div>
</div>

