<div class="roof"></div>
<div class="header">Продукти</div>
<div class="adding">
<ul class="nav nav-tabs tab">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="[ '/product-category/rolls']">Всі</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Філадельфія</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Каліфорнія</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Запечені</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Фірмові</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Макі</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Преміум</a>
  </li>
</ul>
<router-outlet></router-outlet>
</div>